<!DOCTYPE html>
<html>
	<head>
		<title>Blur Menu</title>
		<meta charset="UTF-8"/>

		<link rel="stylesheet" type="text/css" href="basic_style.css">
		<link href="http://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
	</head>

	<body>
		<!-- <p id="cool"class="basic-paragraph">Cool</p>


		<p id="hot"class="basic-paragraph">Hot</p> -->
	<div class="content">
	<header>
  	</header>
  		<div class="main">
    			<p><span class="blue">Blur Menu</span><span class="red"> with </span>CSS3</p>
  		</div>
  		<div class="menu">
     			<p>
  				<a href="#">About</a>
  				<a href="#">Illustration</a>
  			</p>
  			<p><a href="#">Photography</a></p>
  			<p><a href="#">Web Design</a></p>
  			<p><a href="#">Personal Projects</a></p>
  			<p><a href="#">Contact</a></p>
  		</div>
  	<footer>
    
 	</footer>
  	</div>
	</body>
</html>